.page {
  background: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movies {
  padding: 70px 70px 80px 70px;
}

.movies__more-button {
  width: 100%;
  margin-top: 50px;
  min-height: 36px;
  background-color: #F4F4F4;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
}

.movies__more-button_hidden {
  display: none;
}

.movies__search-result_hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 70px 30px 80px 30px;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    padding: 40px 10px 80px 10px;
  }
}
