.profile {
  padding: 74px 0 70px 0;
  background-color: #FAFAFA;
  box-sizing: border-box;
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile-form {
  width: 410px;
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.profile-form__title {
  text-align: center;
  margin: 0 0 123px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.profile-form__form-field {
  display: flex;
}

.profile-form__form-field:not(:last-of-type) {
  border-bottom: 1px solid #E8E8E8;
}

.profile-form__form-field:focus-within {
  border-bottom: 1px solid #3456F3;
}

.profile-form__input-name {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  flex-shrink: 0;
}

.profile-form__text-input {
  text-align: right;
  border: none;
  outline: none;
  width: 100%;
  font-size: 11px;
  line-height: 1.18;
  background-color: #FAFAFA;
  padding-bottom: 16px;
}

.profile-form__error-message-container {
  display: block;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
}

.profile-form__error-message-container:not(:last-of-type) {
  margin-bottom: 16px;
}

.profile-form__request-status-container {
  display: flex;
  min-height: 204px;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  line-height: 1.23;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.profile-form__submit {
  background: none;
  border: none;
  outline: none;
  align-self: center;
  font-size: 13px;
  line-height: 1.23;
}

.profile__log-off-button {
  align-self: center;
  background: none;
  border:none;
  outline: none;
  color: #EE3465;
  font-size: 13px;
  line-height: 1.23;
  transition: opacity .3s linear;
}

.profile__log-off-button:hover {
  cursor: pointer;
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 269px 0;
  }

  .profile-form__title {
    margin: 0 0 96px 0;
  }
  .profile-form__request-status-container {
    min-height: 194px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 70px 0 40px 0;
  }

  .profile-form {
    width: 81%;
  }

  .profile-form__title {
    margin: 0 0 80px 0;
  }

  .profile-form__request-status-container {
    min-height: 379px;
  }

  .profile-form__submit {
    font-size: 12px;
    line-height: 1.25;
  }

  .profile__log-off-button {
    font-size: 12px;
    line-height: 1.25;
  }
}
