.promo {
  min-height: calc(100vh - 74px);
  background-color: #DDDEE3;
  background-image: url("../../images/main-bg.svg");
  background-position: calc(100% - 5.47%) calc(100% - 10.71%);
  background-repeat: no-repeat;
  background-size: 722px;
}

.promo__header {
  margin: 0 0 0 70px;
  max-width: 626px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  padding-top: 50px;
}

@media screen and (max-width: 768px){
  .promo {
    background-position: center calc(100% - 70px);
    background-size: 680px;
    min-height: 844px;
  }

  .promo__header {
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
    padding-top: 300px;
  }
}

@media screen and (max-width: 320px){
  .promo {
    background-position: center calc(100% - 40px);
    background-size: 680px;
    min-height: 630px;
  }

  .promo__header {
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
    padding-top: 183px;
    font-size: 31px;
    line-height: 1.26;
    letter-spacing: -1px;
  }
}
