.navigation {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  height: 100vh;
  width: 520px;
  z-index: 1;
  transition: transform .2s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 159px 0 92px 0;
  box-sizing: border-box;
}

.navigation_hidden {
  transform: translate(100%, 0px);
}

.navigation__link_active {
  border-bottom: 2px solid black;
}

.navigation__close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  background-image: url("../../images/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  width: 22px;
  height: 22px;
  padding: 0;
}

.navigation__close-button:hover {
  cursor: pointer;
  opacity: .8;
}

.navigation__links {
  max-width: 340px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.navigation__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  padding-bottom: 4px;
}

.navigation__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

.navigation__profile-icon {
  margin-left: 17px;
  border-radius: 4px;
  background-color: #F4F4F4;
  padding: 8px 7.25px;
}

@media screen and (max-width: 480px) {
  .navigation {
    width: 100%;
    padding: 144px 0 48px 0;
  }

  .navigation__close-button {
    top: 13px;
    right: 13px;
  }

  .navigation__link {
    padding-bottom: 7px;
  }
}
