.saved-movies {
  padding: 70px 70px 230px 70px;
  background: #FAFAFA;
}

@media screen and (max-width: 768px) {
  .saved-movies {
    padding: 70px 30px 170px 30px;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies {
    padding: 40px 10px 140px 10px;
  }
}
