.header {
  margin: 0;
  min-height: 74px;
  background-color: #DDDEE3;
  font-size: 0;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_place_movies {
  background: #FAFAFA;
}

.header__movies {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  text-decoration: none;
  color: black;
  margin-right: 16px;
}

.header__movies:hover {
  opacity: .7;
}

.header__saved-movies {
  text-decoration: none;
  font-size: 13px;
  line-height: 1.38;
  color: black;
}

.header__saved-movies:hover {
  opacity: .7;
}

.header__profile {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.header__profile:hover {
  opacity: .7;
}

.header__profile-icon {
  background-color: #F4F4F4;
  padding: 8px 7.25px;
  border-radius: 4px;
  margin-left: 17px;
}

.header__logo {
  width: 38px;
}

.header__link-container {
  display: flex;
  align-items: center;
}

.header__link-container_place_movies {
  width: 100%;
  justify-content: space-between;
  margin-left: 44px;
}

.header__register-link {
  width: 77px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.header__register-link:hover {
  opacity: .7;
}

.header__login-link {
  width: 76px;
  height: 32px;
  color: white;
  border-radius: 3px;
  background: #3456F3;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__login-link:hover {
  opacity: .8;
}

.header__burger {
  width: 28px;
  display: none;
}

.header__burger-part {
  width: 100%;
  height: 3px;
  margin-bottom: 7px;
  background-color: black;
  display: block;
}

.header__burger-part:last-of-type {
  margin: 0;
}

@media screen and (max-width: 768px){
  .header {
    padding: 0 30px;
  }

  .header__link-container_place_movies {
    display: none;
  }

  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 320px){
  .header {
    padding: 0 14px;
  }

  .header__register-link {
    margin-right: 14px;
    font-size: 10px;
    line-height: 1.6;
    width: 64px;
  }

  .header__login-link {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
  }

  .header__burger {
    width: 22px;
  }

  .header__burger-part {
    height: 2.5px;
    margin-bottom: 6.5px;
  }
}
