.header {
  margin: 0;
  min-height: 74px;
  background-color: #DDDEE3;
  font-size: 0;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 38px;
}

.header__link-container {
  display: flex;
  align-items: center;
}

.header__register-link {
  width: 77px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.header__register-link:hover {
  opacity: .7;
}

.header__login-link {
  width: 76px;
  height: 32px;
  color: white;
  border-radius: 3px;
  background: #3456F3;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__login-link:hover {
  opacity: .8;
}

@media screen and (max-width: 768px){
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px){
  .header {
    padding: 0 14px;
  }

  .header__register-link {
    margin-right: 14px;
    font-size: 10px;
    line-height: 1.6;
    width: 64px;
  }

  .header__login-link {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
  }
}
