.section-header {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
}

.elements-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.elements-list li {
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EBEBEB;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: #F5F5F5;
  transition: .4s;
  
}

input:checked + .slider {
  background-color: #2BE080;
}

input:checked + .slider:before {
  transform: translateX(20px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.link {
  text-decoration: none;
  color: black;
  transition: opacity .3s linear;
}

.link:hover {
  opacity: .7;
  cursor: pointer;
}

.button {
  border: 0;
  outline: none;
  transition: opacity .2s linear;
}

.button:hover {
  opacity: .8;
  cursor: pointer;
}

.button:active {
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.disabled-button {
  opacity: .7;
}

.disabled-button:hover {
  cursor: not-allowed;
}

.invalid-input {
  color: #EE3465;
}
