.section-header {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
}

.elements-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.elements-list li {
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EBEBEB;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: #F5F5F5;
  -webkit-transition: .4s;
  transition: .4s;
  
}

input:checked + .slider {
  background-color: #2BE080;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
