.techs {
  padding: 100px 70px;
  background: #F5F5F5;
}

.techs__title {
  margin: 90px 0 26px 0;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: -0.04em;
  line-height: 1.16;
}

.techs__text {
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  letter-spacing: -0.04em;
  font-size: 14px;
  line-height: 1.43;
}

.tech-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
  gap: 10px;
}

.tech-list__item {
  min-height: 60px;
  min-width: 90px;
  background: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 1.21;
}

@media screen and (max-width: 768px){
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin: 80px 0 22px 0;
  }

  .techs__text {
    margin-bottom: 83px;
    font-size: 12px;
    line-height: 1.5;
  }

  .tech-list {
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .tech-list__item {
    min-height: 57px;
    min-width: 84px;
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 320px){
  .techs {
    padding: 70px 18px;
    background: #FAFAFA;
  }

  .techs__title {
    margin: 60px 0 24px 0;
    font-size: 30px;
    line-height: 1.2;
  }

  .techs__text {
    font-size: 11px;
    line-height: 1.45;
    max-width: 292px;
    margin-bottom: 50px;
  }
  
  .tech-list {
    grid-template-columns: repeat(2, 84px);
  }
}