.login {
  padding: 70px 0;
  background: #FAFAFA;
  min-height: 100vh;
  box-sizing: border-box;
}

.login-form {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 396px;
}

.login-form__logo {
  margin-bottom: 40px;
}

.login-form__title {
  margin: 0 0 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.login-form__form-field {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: block;
  margin-bottom: 6px;
}

.login-form__form-field:focus-within {
  border-bottom: 1px solid #3456F3;
}

.login-form__input-name {
  display: block;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
  margin-bottom: 5px;
}

.login-form__text-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #FAFAFA;
  font-size: 14px;
  line-height: 1.2;
  padding: 0;
}

.login-form__text-input::placeholder {
  font-size: 14px;
}

.login-form__error-message-container {
  display: block;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
}

.login-form__error-message-container:not(:last-of-type) {
  margin-bottom: 24px;
}

.login-form__request-status-container {
  min-height: 159px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  line-height: 1.23;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.login-form__submit {
  width: 100%;
  background-color: #3456F3;
  color: white;
  min-height: 45px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.login__auth-block {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.21;
  color: #A0A0A0;
}

.login__auth-link {
  text-decoration: none;
  color: #3456F3;
  transition: opacity .3s linear;
}

.login__auth-link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 232px 0;
  }
}

@media screen and (max-width: 480px) {
  .login {
    padding: 56px 0px 30px 0px;
  }
  
  .login-form {
    margin-bottom: 14px;
    width: 81.25%;
  }
  
  .login-form__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .login-form__title {
    margin: 0 0 80px 0;
    text-align: center;
  }

  .login-form__request-status-container {
    min-height: 247px;
  }

  .login-form__submit {
    font-size: 12px;
    line-height: 1.25;
  }

  .login__auth-block {
    font-size: 12px;
    line-height: 1.25;
  }
}

